
html, body{
  height: 100%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Layout Screen*/
#splashScreen{
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/*Splash Screen END*/
#splashScreen:before{
  animation: splashScreenAnimation 2.5s both;
  background: url(../img/Logo.png) no-repeat center;
  content: '';
  display: block;
  height: 33.333333333%;
  width: 33.333333333%;
}
#splashScreen blockquote{
  color: white;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
#quote{
  font-size: 24px;
  margin: 0;
}
#quote:before #quote:after{
    display: inline-block;
}
#quote:before{
  content: "”";
  margin: 0 5px 0 0;
}
#quote:after{
  content: "”";
}
#author{
  font-size: 14px;
}
#author:before{
  content:"——";
  margin: 0;
}
/*Landing page*/
video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left:  0;
  right: 0;
  top: 0;
}

.NavbarLogo{
height: 100px;
}

h2{
}

section{
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 25px;
}

.delete{

}

main{
  text-align: center;
}

main img{
 margin: 0 /*<- Top*/ auto /*<- Right & left*/ 40px; /*<- Bottom*/
}

main p{
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

/*Animations*/
@keyframes splashScreenAnimation{
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  75% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
/*Animation END*/
